@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = "/Views/Shared/Layout/_LayoutDelAdministrador.cshtml";
    ViewData["Title"] = "Inventario";
}

@model IEnumerable<Producto>


<h1>Inventario </h1>

<a href="@Url.Action("Agregar")"> <input type="submit" class="btn btn-danger mb-4 " value="Agregar" /></a>

@*<link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />

    <link href="~/lib/datatables/css/dataTables.bootstrap.css" rel="stylesheet" />

    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />*@


<div class="card mb-4">

    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Inventario de productos
    </div>


    <div class="card-body">
        <table class="table" id="datatablesSimple">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Imagen)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Marca)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tipo)
                    </th>
                    <th></th>

                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img class="img-responsive" id="image" src="@item.Imagen" />
                        </td>



                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>



                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>



                        <td>
                            @Html.DisplayFor(modelItem => item.Marca)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>


                        <td>
                            <a href="/Producto/Detalle/@item.Id" class="btn btn-secondary"> Detalle</a><br />
                            <br /> <a href="/Producto/Modificar/@item.Id" class="btn btn-warning"> Modificar</a><br />
                            <br /><a href="/Producto/Eliminar/@item.Id" class="btn btn-danger"> Eliminar</a><br />
                        </td>



                    </tr>
                }

            </tbody>


        </table>
    </div>
</div>








<style>
    #image {
        width: 170px;
        height: 150px;
    }
</style>



@*@section scripts{


            <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
            <script src="~/lib/datatables/js/dataTables.bootstrap.js"></script>
            <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>



        <script type="text/javascript">

            $(document).ready(function () {
                $('#TablaProducto').DataTable();
            });

        </script>

    }*@

